<head>
    <title>Praktika abimees</title>
</head>

<body background="http://www.photos-public-domain.com/wp-content/uploads/2011/03/sky-texture.jpg">


<h1 style="color:blue;">Praktika koha leidmise abimees.</h1>
<h2 style="color:blue;">Sisesta siia enda ja firma andmed.</h2>

<h3><a style="color:red;" href="Kasutaja.html">KASUTAJA</a></h3>
<h3><a style="color:red;" href="Firma.html">FIRMA</a></h3>


<center><img class=width="20"h3
             src="http://i1.wp.com/vali-it.ee/wp-content/uploads/2016/10/logo2.png?zoom=1.25&fit=253%2C113"/></center>

<p>&nbsp;</p>
<h2 style="color: blue;"><em>Praktika koha leidmise App aitab Vali-IT projektis</em></h2>
<h2 style="color: blue;"><em>osalevatel &otilde;pilastel leida endale praktika koht peale teooria osa l&auml;bimist.</em></h2>
<h2 style="color: blue;"><em>Aitab luua &uuml;levaadet, milliste ettev&otilde;tetega oled &uuml;hendust v&otilde;tnud,</em></h2>
<h2 style="color: blue;"><em>kasutades erinevaid suhtluskanaleid, nende vastused ja protsessi&nbsp;kulgemine.</em></h2>
<h2 style="color: blue;"><em>Motiveerib kasutajat kasutama erinevaid&nbsp;kontakti v&otilde;tmise viise,</em></h2>
<h2 style="color: blue;"><em>et j&otilde;uda eesm&auml;rgini ning saada endale sobiv praktika koht.</em></h2>
<h2 style="color: blue;"><em>Edu praktikakoha leidmisel!</em></h2>

<link rel="stylesheet" type="text/css" href="style.css">

</body>